<div class="view" ng-controller="designPatternCtrl">
    <div class="view-title">Entropy in relation to a Design Pattern</div>
    <div class="information-box break-words">
        <div ng-bind-html="formattedText"></div>
    </div>
    <button ng-click="makeChange()">Make Change</button>
    <button id="mcc" ng-click="makeContinuousChanges()">Make Continuous Changes</button>
    <div class="rightside-button-container">
        <button ng-click="scrambleText()">Scramble</button>
        <button ng-click="makeRandomText()">Random</button>
        <button ng-click="makeOrganizedText()">Organize</button>
    </div>
    <div id="design-pattern-wrapper">
        <span class="bold-text">The Design Pattern:</span> A capital letter, followed by 1 or more lowercase letters and ending with a puctuation mark."
        <img id="design-pattern" src="Images/Design Pattern.png">
    </div>
    <div id="design-pattern-entropy">
        <div class="information-group">
            <div>Entropy: {{ entropy | number : 5}}</div>
        </div>
        <div class="information-group">
            <div>Starting Entropy: {{ startingEntropy | number : 5}}</div>
            <div>Maximum entropy: {{ maximumEntropy | number : 5}}</div>
            <div>Minimum entropy since max {{ minimunEntropySinceMax | number : 5}}</div>
        </div>
    </div>
</div>