<div class="view" ng-controller="nestedDesignPatternCtrl">
   <div class="view-title">Entropy in relation to a Nested Design Pattern</div>
    <div class="information-box break-words"><div ng-bind-html="formattedText"></div></div>
    <button ng-click="makeChange()">Make Change</button>
    <button id="mcc" ng-click="makeContinuousChanges()">Make Continuous Changes</button>
    <div class="rightside-button-container">
        <button ng-click="formatNext()">Next</button>
        <button ng-click="insertNestedPattern()">Insert</button>
        <button ng-click="scrambleText()">Scramble</button>
        <button ng-click="makeRandomText()">Random</button>
        <button ng-click="makeOrganizedText()">Organize</button>
        <button ng-click="evolve()">Evolve</button>
    </div>
    <div id="explaination">
        <div id="pattern-description">
            {{ nestedPatternDescription }}
        </div>
        <div id="nestedPatternExamples">

        </div>
    </div>
    <div id="examples">
        EXAMPLES
        <div id = "example-group">
            <div class="example">Asdfghj<span class="loop">xvxy</span>jhgfdsyes!</div>
            <div class="example">Bpoiuyt<span class="integrated-loop">dfgh</span>tyuinb.</div>
            <div class="example">Asdfghj<span class="loop">jhgd</span>jhgfdsyes!</div>
        </div>
    </div>
    <div id="metadata">
        <div class="information-group">
            <div>Starting Entropy: {{ startingEntropy | number : 5}}</div>
            <div>Entropy: {{ entropy | number : 5}}</div>
        </div>
        <div class="information-group">
            <div>Inner Pattern Count: {{ innerPatternCount }}</div>
            <div>Integration Score: {{ integrationScore }}</div>
        </div>
    </div>
</div>