<div class="view" ng-controller="nestedDesignPatternCtrl">
   <div class="view-title">Entropy in relation to a Nested Design Pattern</div>
    <div class="information-box break-words"><div ng-bind-html="formattedText"></div></div>
    <button ng-click="makeChange()">Make Change</button>
    <button id="mcc" ng-click="makeContinuousChanges()">Make Continuous Changes</button>
    <div class="rightside-button-container">
        <button style="display: none;" ng-click="formatNext()">Next</button>
        <button ng-click="insertNestedPattern()">Insert</button>
        <button ng-click="scrambleText()">Scramble</button>
        <button ng-click="makeRandomText()">Random</button>
        <button ng-click="makeOrganizedText()">Organize</button>
        <button ng-click="evolve()">Evolve</button>
    </div>
    <div id="explaination">
        <div id="pattern-description">
            {{ nestedPatternDescription }}
        </div>
        <div id="nestedPatternExamples">

        </div>
    </div>
    <div id="examples">
        EXAMPLES
        <div id = "example-group">
            <div class="example"><span class="match">A<span class="inner-pattern">sdfghj<span class="loop">xvxy</span>jhgfds</span>yes!</span></div>
            <div class="example"><span class="match">Bpo<span class="inner-pattern">iuyt<span class="integrated-loop">dfgh</span>tyui</span>nb.</span></div>
            <div class="example"><span class="match">Xx<span class="inner-pattern">yuiop<span class="loop">jhgd</span>poiuy</span>cool!</span></div>
        </div>
    </div>
    <div id="metadata">
        <div class="information-group">
            <div>Starting Entropy: TBD</div>
            <div>Entropy: TBD</div>
        </div>
        <div class="information-group">
            <div>Inner Pattern Count: {{ innerPatternCount }}</div>
            <div>Integration Score: {{ integrationScore }}</div>
        </div>
    </div>
</div>